#bashliq .navbar .bashliq-nav a i {
  margin-left: 40px;
  font-size: 15px;
  color: #fff;
}

#bashliq .navbar .bashliq-nav a i:hover {
  translate: "";
  color: #b1adad;
}

#bashliq .navbar .navbar-brand {
  width: 100px;
  display: inline-block;
}

#bashliq .navbar .navbar-brand img {
  width: 80px;
  height: 30px;
}

#bashliq .collapse .navbar-nav {
  padding: 10px 0;
}

#bashliq .collapse .navbar-nav .nav-item .nav-link {
  font-size: 15px;
  font-weight: 400;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  color: #fff;
}

#beautiful {
  padding: 230px 0px;
  background-image: url(../img/hero1.jpg);
  top: 0;
  height: 750px;
}

#beautiful #beautiful-img {
  position: absolute;
  left: 220px;
  bottom: 10px;
  width: 335px;
}

#beautiful .beautful-text {
  color: #fff;
  font-size: 1.8em;
  line-height: 1.6em;
}

#beautiful .btn {
  position: absolute;
  top: 50px;
  right: 450px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  border-radius: 100px;
  border-color: #425cbb;
  background-color: #425cbb;
}

#beautiful .btn span {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 600;
}

#beautiful .list-items {
  position: absolute;
  top: 290px;
  left: 415px;
}

#beautiful .list-items li {
  margin-right: 45px;
}

#beautiful .list-items li a i {
  font-size: 30px;
  color: #b1adad;
}

#beautiful .list-items li a i:hover {
  content: "";
  color: #fff;
}

#digital {
  padding: 100px 0;
}

#digital .digital-col h3 {
  font-weight: 600;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  color: #343434;
}

#digital .digital-col p {
  color: #767676;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 400;
}

#show {
  padding: 50px 0;
}

#show .list-items li {
  width: 80px;
  margin-right: 30px;
  cursor: pointer;
  text-transform: capitalize;
  font-style: italic;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  color: #cfcfcf;
  font-weight: 400;
}

#show .list-items li:hover {
  content: "";
  color: #767676;
}

#show .category-item {
  position: relative;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#show .category-item .overley {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: right;
}

#show .category-item .overley p {
  position: relative;
  right: 20px;
  top: 15px;
  padding: 5px;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  font-style: italic;
}

#show .category-item .overley h6 {
  position: relative;
  right: 20px;
  top: 15px;
  padding: 5px;
  font-weight: 600;
}

#show .category-item:hover .overley {
  opacity: 1;
  -webkit-transition: all .6s;
  transition: all .6s;
}

#your {
  padding: 100px 0;
}

#your .digital-col h3 {
  font-weight: 600;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  color: #343434;
}

#your .digital-col p {
  color: #767676;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 400;
}

#avatar {
  padding: 100px 0;
}

#avatar .category-item {
  position: relative;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#avatar .category-item .overley {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: right;
}

#avatar .category-item .overley p {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 43%;
  font-size: 12px;
}

#avatar .category-item .overley h6 {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 43%;
}

#avatar .category-item .overley .list-items {
  margin-top: 341px;
  margin-right: 129px;
}

#avatar .category-item .overley .list-items ul li a {
  color: #fff;
}

#avatar .category-item:hover .overley {
  opacity: 1;
  -webkit-transition: all .6s;
  transition: all .6s;
}

#customer {
  padding: 100px 0px;
  background-image: url(../img/hero/hero2.jpg);
}

#customer .customer-1 i {
  font-size: 4em;
}

#customer .customer-1 h3 {
  font-weight: 600;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  color: #fff;
  padding: 10px;
}

#customer .customer-1 h5 {
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
}

#our {
  padding: 100px 0;
}

#our .digital-col h3 {
  font-weight: 600;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  color: #343434;
}

#our .digital-col p {
  color: #767676;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 400;
}

#user {
  padding: 100px 0;
}

#user .user1 {
  padding: 20px;
  width: 50%;
}

#user .user1 .user3_left {
  float: left;
  margin-right: 27px;
}

#user .user1 .user3_left i {
  font-size: 43px;
  color: #425cbb;
}

#user .user1 .user4_right {
  float: left;
}

#user .user1 .user4_right h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 2.36363636363636em;
}

#user .user1 .user4_right p {
  color: #767676;
}

#level {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
  padding-bottom: 0;
  padding-top: 0;
}

#level::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: -78px;
  background: #F4F4F4;
}

#level .level-text {
  margin-top: 190px;
}

#level .level-text p {
  font-size: 21px;
  line-height: 40px;
  font-style: italic;
  margin-bottom: 50px;
  color: #767676;
}

#level .level-text h5 {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  color: #343434;
  font-weight: 600;
}

#level .level-text h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}

#news {
  padding: 100px 0;
}

#news .digital-col h3 {
  font-weight: 600;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  color: #343434;
}

#news .digital-col p {
  color: #767676;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 400;
}

#good {
  padding: 100px 0;
}

#good a {
  text-decoration: none;
  color: #232323;
}

#good a .card .card-body .card-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  margin-bottom: 21px;
}

#good a .card .card-body .card-text {
  font-weight: 300;
  margin-bottom: 41px;
}

#good a .card .card-body span {
  font-size: 0.625em;
  font-style: italic;
  display: inline-block;
  color: #767676;
}

#good a .card .card-body h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}

#good .btn {
  margin-top: 60px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  border-color: #767676;
  border-radius: 100px;
  padding-top: 9px;
  padding-bottom: 11px;
  padding-right: 50px;
  padding-left: 50px;
  border: 1px solid #767676;
  border-width: 2px;
  font-size: inherit;
  line-height: 25px;
  text-transform: uppercase;
}

#good .btn:hover {
  border-color: black;
}

#good .btn .btn-text {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}
/*# sourceMappingURL=style.css.map */