$font-f: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
$text-color-white: #fff;
$helper-color: #343434;
$helper-font-weight: 600;
$helper-font-size: 2em;
$helper-line-height: 1.5em;
$paraqraf-color: #767676;
$paraqraf-font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
$paraqraf-font-size: 1.5em;
$paraqraf-line-height: 1.7em;
$paraqraf-font-weight: 400;

